absl-py==2.3.1
async-timeout==5.0.1
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
etils==1.13.0
fsspec==2025.7.0
glfw==2.9.0
idna==3.10
importlib_resources==6.5.2
markdown-it-py==3.0.0
mdurl==0.1.2
mujoco==3.3.4
numpy==2.2.6
pillow==11.3.0
Pygments==2.19.2
PyOpenGL==3.1.9
python-dotenv==1.1.1
redis==6.2.0
requests==2.32.4
rich==14.1.0
shellingham==1.5.4
typer==0.16.0
typing_extensions==4.14.1
urllib3==2.5.0
zipp==3.23.0
